<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav1)"/>
  <arg name="debug" default="false" />
  <arg name="respawn" default="false" />
  <arg name="print_debug" default="true" />
  <arg name="WORLD_FILE" default="$(optenv WORLD_FILE)" />
  <arg name="WORLD_NAME" default="$(optenv WORLD_NAME)" />

  <arg name="rosbag_remap" default="false" />
  <arg unless="$(arg rosbag_remap)" name="suf" value=""/>
  <arg     if="$(arg rosbag_remap)" name="suf" value="_"/>

  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>

  <arg if="$(eval arg('WORLD_FILE') == '' and arg('WORLD_NAME') != '')" name="world_file" value="$(find mrs_uav_general)/config/worlds/world_$(env WORLD_NAME).yaml" />
  <arg if="$(eval arg('WORLD_FILE') == '' and arg('WORLD_NAME') == '' and arg('RUN_TYPE') == 'simulation')" name="world_file" value="$(find mrs_uav_general)/config/worlds/world_simulation.yaml" />
  <arg if="$(eval arg('WORLD_FILE') != '')" name="world_file" value="$(arg WORLD_FILE)" />

  <arg name="standalone" default="true" />
  <arg name="manager" default="balloon_filter" />
  <arg name="nodelet_name" value="balloon_filter/BalloonFilter" />
  <arg unless="$(arg standalone)" name="nodelet_load" value="load $(arg nodelet_name) $(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_load" value="standalone $(arg nodelet_name)"/>

  <group if="$(arg print_debug)">
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find balloon_filter)/config/rosconsole/debug.conf"/>
  </group>

  <group ns="$(arg uav_name)">

    <node pkg="nodelet" type="nodelet" name="balloon_filter" args="$(arg nodelet_load)" output="screen" launch-prefix="$(arg launch_prefix)" respawn="$(arg respawn)" >

      <param name="uav_name" type="string" value="$(arg uav_name)" />
      <param name="uav_frame_id" type="string" value="$(arg uav_name)/fcu" />
      <param name="world_frame_id" type="string" value="$(arg uav_name)/gps_origin" />
      <rosparam file="$(find balloon_filter)/config/filter_params.yaml" command="load" />
      <rosparam file="$(arg world_file)" command="load" />

      <!-- Subscribers -->
      <remap from="~localized_ball" to="uav_detection/detection$(arg suf)" />
      <remap from="~cmd_odom" to="control_manager/cmd_odom" />

      <!-- Publishers -->
      <remap from="~chosen_measurement" to="~chosen_measurement$(arg suf)" />
      <remap from="~chosen_measurement_dbg" to="~chosen_measurement_dbg$(arg suf)" />

      <remap from="~fitted_line1_marker" to="~fitted_line1_marker$(arg suf)" />
      <remap from="~fitted_line1_points" to="~fitted_line1_points$(arg suf)" />
      <remap from="~fitted_line2_marker" to="~fitted_line2_marker$(arg suf)" />
      <remap from="~fitted_line2_points" to="~fitted_line2_points$(arg suf)" />
      <remap from="~line_endpose" to="~line_endpose$(arg suf)" />

      <remap from="~fitted_plane_marker" to="~fitted_plane_marker$(arg suf)" />
      <remap from="~fitted_plane_pose" to="~fitted_plane_pose$(arg suf)" />
      <remap from="~fit_points" to="~fit_points$(arg suf)" />
      <remap from="~fitted_plane" to="~fitted_plane$(arg suf)" />
      <remap from="~prediction" to="~prediction$(arg suf)" />
      <remap from="~predicted_path" to="~predicted_path$(arg suf)" />

      <remap from="~gt_ball_speed" to="~gt_ball_speed$(arg suf)" />

      <!-- Services -->
      <remap from="~reset_estimates" to="~reset_estimates" />

    </node>

  </group>

</launch>

