<launch>
 	
	<arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>

  <arg name="path" value="$(find ball_filter)/data"/>
  <arg name="config" value="$(find ball_filter)/config/trajectory_loader.yaml"/>
  <arg name="mode" value="goto"/>
  <include file="$(find trajectory_loader)/launch/common.launch" pass_all_args="true" />

</launch>

